conference-app/node_modules
conference-app/_imagecache
conference-app/.env

feedback-service/node_modules
feedback-service/.env

service-registry/node_modules
service-registry/.env

speakers-service/node_modules
speakers-service/.env

.idea

